#naslov {
    font-size: 25px;
    width: 300px;
    text-align: center;
    border: solid;
}

p {
    font-size: 16px;
    line-height: 20px;
    width: 290px;
    text-align: center;
}

#porocilo {
    height: 300px;
}