div {
	font-size: 24px;
}

#novica {
	width: auto;
	min-width: 300px;
	max-width: 300px;
	text-align: center;
	border: solid;
}

#title {
	width: 100%;
	font-size: 26px;
}

#image {
	width: 100%;
}

#opis {
	width: 100%;
	margin-top: -10px;
	font-size: 20px;
	line-height: 24px;
}

#image img {
	width: 100%;
}